* {
  box-sizing: border-box;
  margin: 0;
}
body{
  display:flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: space-between;
}
/*Navigation*/
.nav-container{
  background: #FFFFFF;
  height: 110px;
  padding-top: 10px;
  margin: 1rem;
}
.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}
nav{
  display:flex;
  align-items:center;
  justify-content: space-between;
  height: 100px;
}
nav ul{
  display:flex;
  align-items: center;
}

.nav-items li{
  list-style: none;
  margin-right: 40px;
  font-weight: 550;
}

.nav-items li router-link{
  color: #1C4053;
  list-style: none;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.logo{
  margin-left:10px;
}

/*search-container*/
.search-container{
  background: #FFFFFF;
  display:flex;
  margin: 1rem;
  align-items: center;
  height: 400px;
  padding-top: 300px;
}
.search-box{
  margin: 0 auto;
  width: 609px;
  height: 62px;
  background: #F4F4F4;
  border: 2px solid #1C4053;
  box-sizing: border-box;
  border-radius: 30px;
  align-content: center;
}
.search-box input{
  width: 560px;
  height: 0px;
  border: 0;
  outline: none;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 26px;
  background: #F4F4F4;
  color: #838383;
}
/* XSS search-container*/
.search-container-xss{
  background: #FFFFFF;
  display:flex;
  margin: 1rem;
  align-items: center;
  height: 48px;
  padding-top: 1px;
}
.search-box-xss{
  margin: 0 auto;
  width: 283px;
  height: 46px;
  background: #F4F4F4;
  border: 2px solid #1C4053;
  box-sizing: border-box;
  border-radius: 20px;
  align-content: center;
}
.search-box-xss input{
  width: 268px;
  height: 42px;
  border: 0;
  outline: none;
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  font-size: 18px;
  background: #F4F4F4;
  color: #838383;
}

/* body-container*/
.body-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.book-container{
  margin: 1rem;
  background: #F1F1F1;
  border-radius: 25px;
  width:1000px;
  height:500px;
}

/* Login CSS */
.login-container {
  background: #ffffff;
  margin: 1rem;
  display:flex;
  align-items: center;
  height: 400px;
  align-content: center;
}
.login-input {
  margin: auto;
  width: 250px;
  height: 40px;
  background: #ffffff;
}

.login-input input {
  margin: 5px auto;
  width: 300px;
  height: 40px;
  border: 2px solid #1C4053;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: none;
  align-content: center;
  text-decoration: none;
  text-indent: 1cm;
  color: #1C4053;
  font-weight: 600;
  background: #F4F4F4;

}

.login-input button {
  margin: 5px 85px;
  width: 120px;
  height: 40px;
  border: 2px solid #1C4053;
  box-sizing: border-box;
  border-radius: 30px;
  box-shadow: none;
  align-content: center;
  text-decoration: none;
  color: #F4F4F4;
  font-weight: 600;
  background: #1C4053;

}

input:focus, button:focus, textarea:focus, select:focus{
  outline: none;
}

/* Perfil */

.profile-container{
  margin: 7rem auto;
  background: #f1f1f1;
  border-radius: 25px;
  width: 50%;
  height: 100%;
}

.profile-title {
  padding-top: 50px;
  align-content: center;
  text-align: center;
  color: #1C4053;
  font-size: 36px;

}

.profile-title-input {
  padding-top: 50px;
  padding-left: 150px;
  text-align: start;
  color: #1C4053;
  font-size: 26px;
}

.profile-input {
  padding-top: 10px;
  padding-left: 150px;
  text-align: left;

}
.profile-input input {
  border: 1px solid #1C4053;
  border-radius: 5px;
  width: 70%;
  height: 35px;
}

.profile-form {
  margin: 0 auto;
}

.profile-genre-title {
  padding-top: 50px;
  padding-left: 150px;
  padding-bottom: 50px;
  text-align: left;
  color: #1C4053;
  font-size: 26px;
}

.profile-genre-all {
  display: flex;
  flex-wrap: wrap;
  padding-left: 150px;
  width: 80%;
}

.profile-genre {
  color: white;
  border: 1px solid #1C4053;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  background-color: #1C4053;
  margin: 1rem 2rem;

  padding: 10px 10px;
}

.profile-genre-selected {
  color: #1C4053;
  border: 1px solid #1C4053;
  border-radius: 30px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  margin: 1rem 2rem;
  padding: 10px 10px;
}

.profile-submit {
  text-align: center;
  margin: 3rem auto;
}

.profile-submit button {
  color: white;
  font-size: 26px;
  background-color: #1C4053;
  width: 200px;
  height: 60px;
  border: 1px solid #1C4053;
  border-radius: 50px;
}
