<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div class="nav-container">
      <div class="wrapper">
        <nav>
          <div class="logo">
            <img src="images/logo.png" alt="Logo">
          </div>
          <ul class="nav-items">
            <li> <a href="registrarse.html">Registrarse</a></li>
            <li> <a href="ingresar.html">Ingresar</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="seeker" class="search-container">
      <div class="search-box">
        <input type="text" v-model="search" placeholder="¿Qué libro estás buscando?">
        <div>
          <a v-on:click="searchBook"><button>Buscar</button></a>
       </div>
      <!--   <li v-for="result of results">{{result}}</li>-->
      </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/prueba.js"></script>
  </body>

</html>
