<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registrarse</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div class="nav-container">
      <div class="wrapper">
        <nav>
          <div class="logo">
            <img src="images/logo.png" alt="Logo">
          </div>
          <ul class="nav-items">
            <li> <a href="#">Ingresar</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="body-container" id="app">
        <div class="profile-container">
            <h1 class="profile-title">Bienvenido a Vivlio</h1>
            <div class="profile-form">
                <div class="profile-title-input">
                  <p>Nombre</p>
                </div>
                <div class="profile-input">
                  <input id="name" v-model="name" type="text" placeholder="   Juan">
                </div>
                <div class="profile-title-input">
                  <p>Apellido</p>
                </div>
                <div class="profile-input">
                  <input id="lastname" v-model="lastname" type="text" placeholder="   Pérez">
                </div>
                <div class="profile-title-input">
                  <p>Email</p>
                </div>
                <div class="profile-input">
                  <input id="email" v-model="email" type="email" placeholder="   juan.perez@email.com">
                </div>
                <div class="profile-title-input">
                  <p>Contraseña</p>
                </div>
                <div class="profile-input">
                  <input id="pwd" v-model="pwd" type="password" placeholder="   ***********">
                </div>
                <div class="profile-genre-title">
                  <p>Selecciona cuáles son los géneros literarios que <br>más te gustan:</p>
                </div>
                <!-- <p>{{isActive}}</p>
                <p>{{theme}}</p> -->
                <!-- {{selectedGenres}} -->
                <div class="profile-genre-all">
                  <div v-for="(genre,index) in genres">
                    <div v-on:click="addGenre(genre, index)" v-if="!isActive[index]" class="profile-genre">
                      <p>{{genre}}</p>
                    </div>
                    <div v-on:click="addGenre(genre, index)" v-else class="profile-genre-selected">
                      <p>{{genre}}</p>
                    </div>
                  </div>

                  

                  
                  <!-- <div v-on:click="addGenre('Comedia', 1)" :class="theme[1]">
                    <p>Comedia</p>
                  </div>
                  <div v-on:click="addGenre('Terror', 2)" :class="theme[2]">
                    <p>Terror</p>
                  </div>
                  <div v-on:click="addGenre('Aventura', 3)" :class="theme[3]">
                    <p>Aventura</p>
                  </div>
                  <div v-on:click="addGenre('Ciencia Ficción', 4)" :class="theme[4]">
                    <p>Ciencia Ficción</p>
                  </div>
                  <div v-on:click="addGenre('Fantasía', 5)" :class="theme[5]">
                    <p>Fantasía</p>
                  </div>
                  <div v-on:click="addGenre('Amor', 6)" :class="theme[6]">
                    <p>Amor</p>
                  </div> -->
                </div>
                <div class="profile-submit">
                  <button v-on:click="sendData()">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="scripts/register.js"></script>
</html>